html{
	height: 100%;
}

body{
	min-height: 100%;
	background-color:#374550;
}

.container-fluid.mainCon{
	height:75%;
	padding:50px;
}

.navbar.navbar-default.nav-custom{
	background-color: #6c757a;
	border-radius: 0px;
	border:none;
	height: 50px;
	overflow: hidden;
	border-bottom:2px solid #464E55
}

.navbar.navbar-default.nav-custom .navbar-nav.left>.active>a{
	color:#6c757a;
	background: #374550;
	border-top:3px solid #fc7a58;
	padding-top: 12px;

}

.navbar.navbar-default.nav-custom .navbar-nav.left a{

}

.navbar.navbar-default.nav-custom .navbar-nav.left a:hover{
	color:#6c757a;
	background: #374550;
}


.navbar.navbar-default.nav-custom a{
	color:#374550;
	font-size: 2rem;

}

.navbar.navbar-default.nav-custom .navbar-nav li{
	margin-left: 0px;
	margin-right: 0px;
}

.navbar.navbar-default.nav-custom .navbar-nav .headPic{
	padding-top:5%;
	z-index: 1;
}

.navbar.navbar-default.nav-custom .navbar-nav .headPic img{
	height: 40px;
}

.navbar.navbar-default.nav-custom .search{
	font-size: 2.5rem;
	padding-right: 0px;
	margin-top: 10%;
	border-left: 10px solid #6c757a;
	border-radius: 50%;
	padding: 5px;
}

.navbar.navbar-default.nav-custom .search:hover{
	color:white;
}

#search_content{
	font-size: 2rem;
	background-color: #abadab;
	border:none;
	color:#6c757a;
	margin-top: 3%;
	margin-right: -10px;
	display: none;
	width: 0;
	height: 30px;
}

.nav.navbar-nav.navbar-right.settings{
	background-color: #919697;
}

.footer{
	background: #161616;
	width:100%;
	color:#c9c2b2;
	padding:5%;
	text-align: center;
}

.footer a{
	color:#c9c2b2;
}

.footer a:hover{
	text-decoration: none;

}

.hide{
	display: none;
}

.nav.navbar-nav.navbar-right.settings{
	margin-top: 4%;
	margin-left: -25px;
	padding-left: 15px;
	display: none;
	width:0;
	height: 30px;
	z-index: -1;
	overflow: hidden;
}

.nav.navbar-nav.navbar-right.settings a{
	font-size: 1.5rem;
	padding:5px;
}

.nav.navbar-nav.navbar-right.settings a:hover{
	color:#6c757a;
	background: #374550;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6c757a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6c757a;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6c757a;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6c757a;
}


