html{
	height: 100%;
}

body{
	height: 100%;
}

#toLogin:hover{
	cursor: pointer;
}

.regLog{
	display: none;
	width: 100%;
	font-size:2rem;
	margin-top: 5%;
	padding:5%;
	background-color:rgba(233, 128, 103, 1);
	color:rgba(14, 58, 78, 1);;
}

.regLog input{
	width: 80%;
	font-size: 2.5rem;
	border-radius: 5px;
	border:1px solid #ccc;
	margin-top: 25px;
	padding:2px;
}

#doAction{
	width:80%;
	margin-top: 25px;
	background-color:#5691AF;
	border-radius:5px;
	border-bottom: 5px solid rgba(52, 92, 152, 1);
	font-size: 2rem;
	height:40px;
	transition: background 1s;
	-moz-transition: background 1s;	/* Firefox 4 */
	-webkit-transition: background 1s;	/* Safari 和 Chrome */
	-o-transition: background 1s;	/* Opera */

}

#doAction:hover{
	background-color: rgba(107, 182, 221, 1);
}

.fullHeight{
	height:100%;
}

.navbar.navbar-default.custom{
	margin-bottom: 0px;
	background-color: #ffae9a;
	border: none;
	border-radius: 0px;

}

.bigRect{
	padding-left:0px;
	padding-right:0px;
	position: relative;
	display:block;
}

.bigRect  img{
	max-height: 100%;
	max-width:100%;
}

#logoRect{
	padding-top: 5%;
	padding-bottom:5%;
}

#logoRect .introduce{
	color:rgba(14, 58, 78, 1);
	padding-top: 5%;
	font-size: 12px;
	font-size: 1.2em;
}




#courseRect img{
	min-width:100%;
	height: auto;
}

#courseRect .col-md-3{
	padding: 0px;
	min-height: 100%;
}

#courseTitleRect{
	background-color: rgb(255, 174, 154);
	padding: 10%;
	background-repeat: no-repeat;
	background-size: 0;
	background-position: 7.1% 92.5%;
	transition: background 0.5s;
	-moz-transition: background 0.5s;	/* Firefox 4 */
	-webkit-transition: background 0.5s;	/* Safari 和 Chrome */
	-o-transition: background 0.5s;	/* Opera */
}


#courseTitleRect .row{
	text-align: center;
}

#courseTitleRect img{
	width:24%;
	opacity: 0;
}

#topicRect {
	min-height: 55%;
}

#topicRect img{
	width:45%;
}


.topicList{
	font-size: 3rem;
	padding-left: 15%;
}

#regRect{
	/*padding-top:10%;*/
	height: 60%;
	background-color:#f0e0ac;
}

#regRect p{
	font-size: 10rem;
	font-weight: 10;
	text-align: center;
	color:rgba(93, 93, 20, 1);
	transition: color 1s;
	-moz-transition: color 1s;	/* Firefox 4 */
	-webkit-transition: color 1s;	/* Safari 和 Chrome */
	-o-transition: color 1s;	/* Opera */
}


#regRect p:hover{
	color:rgba(71, 82, 162, 1);
	cursor:pointer;
}

#aboutRect{
	padding:5%;
	color:white;
}

.logReg{
	display: none
}

.panel.panel-default.custom{
	border-radius: 0px;
}

.panel.panel-default.custom .panel-heading{
	font-size: 2rem;
	background-color: #BC544B;
	color:white;
}

.panel.panel-default.custom .panel-body .col-md-10.col-md-offset-1{
	padding:10px;
}

.panel.panel-default.custom form input{
	width: 100%;
	font-size: 2.5rem;
	border-radius: 0;
	border:1px solid #ccc;

}

.hide{
	display:none;
}

@media  screen and (max-width: 1500px) {
	html{
		
		font-size: 35.5%;
	}
	body{
		font-size: 14px;
		font-size: 1.4em;
		height:100%;
	}
	nav{
		display: none;
	}
	#topicRect {
		min-height: 0;
	}
	#topicRect img{
		width:65%;
	}
	#regRect{
		/*padding-top:10%;*/
	}
	#regRect p{
		font-size: 18rem;
	}
}
